# Godot 4+ specific ignores
.godot/
addons/ridiculous_coding/blip.gd
addons/ridiculous_coding/blip.png
addons/ridiculous_coding/blip.png.import
addons/ridiculous_coding/blip.tscn
addons/ridiculous_coding/blip.wav
addons/ridiculous_coding/blip.wav.import
addons/ridiculous_coding/boom.gd
addons/ridiculous_coding/boom.png
addons/ridiculous_coding/boom.png.import
addons/ridiculous_coding/boom.tscn
addons/ridiculous_coding/boom.wav
addons/ridiculous_coding/boom.wav.import
addons/ridiculous_coding/dock.gd
addons/ridiculous_coding/dock.tscn
addons/ridiculous_coding/fireworks.wav
addons/ridiculous_coding/fireworks.wav.import
addons/ridiculous_coding/font.tres
addons/ridiculous_coding/GravityBold8.ttf
addons/ridiculous_coding/GravityBold8.ttf.import
addons/ridiculous_coding/newline.gd
addons/ridiculous_coding/newline.png
addons/ridiculous_coding/newline.png.import
addons/ridiculous_coding/newline.tscn
addons/ridiculous_coding/plugin.cfg
addons/ridiculous_coding/plugin.gd
addons/ridiculous_coding/progress.png
addons/ridiculous_coding/progress.png.import
addons/ridiculous_coding/under.png
addons/ridiculous_coding/under.png.import
ridiculous.png
ridiculous.png.import
ridiculous.svg
ridiculous.svg.import
